Repository learningequality/kolibri-design-system, pull requests merged in 2020-07, with the labels that each got.

#45 Adding icons to button documentation
  docs/common/DocsAnchorTarget.vue
  docs/common/DocsDoNot.vue
  docs/common/DocsShow.vue
  docs/pages/buttons.vue
Labels: category: docs content, type: proposal

#63 change port to 4000 to avoid conflicts with kolibri in dev
  package.json
Labels: category: supporting code

#62 z-index needs a Number and refuses to parseInt() for you
  lib/KDropdownMenu.vue
Labels: category: library

#74 Kbutton icon color
  lib/buttons-and-links/KButton.vue
Labels: category: library

#61 Update modals documentation
  docs/pages/modals/index.vue
  docs/pages/modals/modal-alert.png
  docs/pages/modals/modal-back.png
  docs/pages/modals/modal-badtitle.png
  docs/pages/modals/modal-checks.png
  docs/pages/modals/modal-delete.png
  docs/pages/modals/modal-info.png
  docs/pages/modals/modal-informational.png
  docs/pages/modals/modal-overlay.png
  docs/pages/modals/modal-table.png
  docs/pages/modals/modal-title.png
  docs/pages/modals/modal.png
  docs/tableOfContents.js
Labels: category: docs content, type: proposal

#73 Add snackbar, loaders, and radio documentation
  docs/pages/KCircularLoader.vue
  docs/pages/KLinearLoader.vue
  docs/pages/KRadioButton.vue
  docs/pages/loaders.vue
  docs/pages/loaders/centering.png
  docs/pages/loaders/index.vue
  docs/pages/loaders/loading-more.png
  docs/pages/loaders/tables.png
  docs/pages/loaders/tasks.png
  docs/pages/loaders/topbar.png
  docs/pages/snackbars.vue
  docs/tableOfContents.js
Labels: category: docs content
